@use "../utils/functions" as *;
@use "../utils/colors" as *;
@use "../utils/variables" as *;

.header {
  margin-top: 20px;

  //Tablet 445 x 720
  @media (min-width: px-to-rem(600px)) {
    margin-inline: 5%;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;

    @media (min-width: px-to-rem(600px)) {
      justify-content: flex-start;
      text-align: left;
      align-items: center;
      gap: 32px;
    }

    a {
      text-decoration: none;
    }

    .header__social {
      svg {
        display: block;

        &:hover {
          path {
            transition: fill $transition;
            fill: $green;
          }
        }
      }
    }

    a:first-child {
      font-size: 1.5rem;
      font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
      color: $text-1;
      line-height: 1;
      transition: color $transition;

      flex: 1 0 100%;

      @media (min-width: px-to-rem(600px)) {
        flex: 1;
        margin-inline-end: auto;
      }

      &:hover {
        color: $green;
      }
    }
  }
}
