@use "../utils/functions" as *;
@use "../utils/colors" as *;

.hero {
  &__decoration {
    position: absolute;
    z-index: -1;
  }

  &__circle {
    right: -30%;
    top: 250px;

    z-index: 10;

    //Tablet 445 x 720
    @media (min-width: px-to-rem(600px)) {
      right: -10%;
    }

    //Desktop 348 x 766
    @media (min-width: px-to-rem(1280px)) {
      right: 25%;
      top: 65%;
    }
  }

  &__picture {
    display: block;
    margin: 5% auto;

    //Mobile 174 x 383
    width: 174px;
    height: 383px;
    object-fit: cover;

    //Tablet 445 x 720
    @media (min-width: px-to-rem(600px)) {
      width: 245px;
      height: 420px;
    }

    //Desktop 348 x 766
    @media (min-width: px-to-rem(1280px)) {
      width: 348px;
      height: 656px;
    }
  }

  &__wrapper {
    overflow-x: hidden;
    //Tablet 445 x 720
    @media (min-width: px-to-rem(600px)) {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 60px;
      gap: 5px;
    }
  }

  &__text {
    text-align: center;

    @media (min-width: px-to-rem(600px)) {
      text-align: left;
    }

    .hero {
      &__headline {
        font-size: 2.5rem;
        font-size: clamp(2.5rem, 0.7rem + 6.68vw, 5.5rem);
        margin-bottom: 20px;

        @media (min-width: px-to-rem(600px)) {
          margin-bottom: 60px;
        }

        span {
          background-image: linear-gradient(to right, $green 75%, $green 75%);
          background-repeat: repeat-x;
          background-size: 8px 4px;
          background-position: 0 1.18em;
        }
      }
      &__description {
        margin-bottom: 40px;
      }
    }
  }
}
