@use "../utils/functions" as *;
@use "../utils/colors" as *;

.skills {
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding-block: 40px;

    //Tablet 445 x 720
    @media (min-width: px-to-rem(600px)) {
      grid-template-columns: repeat(2, 1fr);
      gap: 52px 24px;
      border: none;
      padding-block: 52px;
    }

    //Desktop 348 x 766
    @media (min-width: px-to-rem(1280px)) {
      grid-template-columns: repeat(3, 1fr);
      padding-block-start: 72px;
    }

    .skills__item {
      text-align: center;

      //Tablet 445 x 720
      @media (min-width: px-to-rem(600px)) {
        text-align: start;
      }

      .skills__title {
        font-size: 2rem;
        font-size: clamp(2rem, 0.33rem + 7.11vw, 3rem);
        line-height: 1.7;
        margin-bottom: 2px;
      }
    }
  }
}
