---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skill from "../components/Skill.astro";
import Projects from "../components/projects/Projects.vue";
---

<Layout>
  <main>
    <Hero />
    <Skill />
    <Projects />
  </main>
</Layout>
