---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skill from "../components/Skill.astro";
import Project from "../components/Project.astro";
---

<Layout>
  <main>
    <Hero />
    <Skill />
    <Project />
  </main>
</Layout>
